.navbar-collapse{
    border: none;
}
.border{
    border-left: 1px solid white;
    color: white;
}
.img-about{
    background-image: url("../Images/image1.jpg");
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
}
.body-text{
    margin-top: 50vh;
    color: white;
}
.copyright{
    background-color: black;
    color: white;
    height: 10vh;
}
.red{
    background-color: red;
    color: white;
}
.blue{
    background-color: blue;
    color: white;
}
.posts{
    margin-top: 20px;
}