.navbar-collapse{
    border: none;
}
.border{
    border-left: 1px solid white;
    color: white;
}
.img-about{
    background-image: url("../Images/image1.jpg");
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
}
.body-text{
    margin-top: 50vh;
    color: white;
}
.footer{
    background-color: grey;
}
.footer-border{
    border-bottom: 1px solid black;
    color: white;
}
small, h4{
    padding-left: 50px;
}
.copyright{
    background-color: black;
    color: white;
    height: 10vh;
}