.navbar-collapse{
    border: none;
}
.border{
    border-left: 1px solid white;
    color: white;
}
.img-about{
    background-image: url("../Images/image1.jpg");
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
}
.body-text{
    margin-top: 50vh;
    color: white;
}
.card{
    /* border-left: 1px solid grey; */
    /* border-right: 1px solid grey; */
    /* border-radius: 5% */
    /* padding-right: 10px; */
    /* padding-left: 10px; */

}
.card-header{
    border: 1px solid grey;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    background-color: gray;
    margin-top: 15px;

    /* padding-bottom: 10px; */
    /* width: 100% */
}
.card-title{
    margin-top: 0;
    padding-top: 10px;

}
.card-body{
    padding-right: 10px;
    padding-left: 10px;
    border-right: 1px solid grey;
    border-left: 1px solid grey;
    padding-bottom: 10px;
    
}
.card-footer{
    border: 1px solid grey;
    background-color: grey;
    /* margin-top: 10px; */
    color: white;
    margin-bottom: 10px;
    height: 5vh;

}
.footer{
    background-color: grey;
}
.copyright{
    background-color: black;
    color: white;
    height: 10vh;
}
.pointer {
    cursor: pointer;
}
.faq{
    color: white
}
.panel{
    background-color: black;
    color: white;
}
