.navbar-collapse{
    border: none;
}
.border{
    border-left: 1px solid white;
    color: white
}
.img-about{
    background-image: url("../Images/image1.jpg");
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
}
.body-text{
    margin-top: 50vh;
    color: white;
}
.img-us{
    margin-top: -25px;
}
.box{
    border: 1px solid;
    background-color: red;
    color: white;
    border-radius: 3%;
    padding-top: 15px;
}
.box-down{
    margin-top: 10px;
    margin-bottom: 10px;
}
.carousel{
    background-color: grey;
}
.copyright{
    background-color: black;
    color: white;
    height: 10vh;
}