<div class="container-fluid footer">
    <div class="row">
        <div class="text-center faq">
            <h2>Frequently asked questions</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="col-md-6 ">
                    <div class="panel-group">
                            <div class="panel">
                                <div class="panel-heading">
                                    <h1 class="panel-title" data-toggle="collapse" href="#panel-1">
                                        Questinon one?
                                    </h1>
                                </div>
                                <div id="panel-1" class="panel-collapse collapse">
                                    <div class="panel-body">
                                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur eos culpa voluptatibus optio minus iste? Odio iusto quis quos ducimus impedit cupiditate aspernatur aliquam iure. Possimus reprehenderit magni nisi ex.
                                    </div>
                                </div>
                            </div>
                    </div>
            </div>
            <div class="col-md-6">
                    <div class="panel-group">
                            <div class="panel">
                                <div class="panel-heading">
                                    <h1 class="panel-title" data-toggle="collapse" href="#panel-2">
                                        Questinon three?
                                    </h1>
                                </div>
                                <div id="panel-2" class="panel-collapse collapse">
                                    <div class="panel-body">
                                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur eos culpa voluptatibus optio minus iste? Odio iusto quis quos ducimus impedit cupiditate aspernatur aliquam iure. Possimus reprehenderit magni nisi ex.
                                    </div>
                                </div>
                            </div>
                    </div>
            </div>

        </div>

    </div>
    <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="col-md-6 ">
                        <div class="panel-group">
                                <div class="panel">
                                    <div class="panel-heading">
                                        <h1 class="panel-title" data-toggle="collapse" href="#panel-3">
                                         Questinon four?
                                        </h1>
                                    </div>
                                    <div id="panel-3" class="panel-collapse collapse">
                                        <div class="panel-body">
                                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur eos culpa voluptatibus optio minus iste? Odio iusto quis quos ducimus impedit cupiditate aspernatur aliquam iure. Possimus reprehenderit magni nisi ex.
                                        </div>
                                    </div>
                                </div>
                        </div>
                </div>
                <div class="col-md-6">
                        <div class="panel-group">
                                <div class="panel">
                                    <div class="panel-heading">
                                        <h1 class="panel-title"data-toggle="collapse" href="#panel-4">
                                         Questinon Five?
                                        </h1>
                                    </div>
                                    <div id="panel-4" class="panel-collapse collapse">
                                        <div class="panel-body">
                                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur eos culpa voluptatibus optio minus iste? Odio iusto quis quos ducimus impedit cupiditate aspernatur aliquam iure. Possimus reprehenderit magni nisi ex.
                                        </div>
                                    </div>
                                </div>
                        </div>
                </div>

            </div>

    </div>
    <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="col-md-6 ">
                        <div class="panel-group">
                                <div class="panel">
                                    <div class="panel-heading">
                                        <h1 class="panel-title" data-toggle="collapse" href="#panel-5">
                                             Questinon five?
                                        </h1>
                                    </div>
                                    <div id="panel-5" class="panel-collapse collapse">
                                        <div class="panel-body">
                                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur eos culpa voluptatibus optio minus iste? Odio iusto quis quos ducimus impedit cupiditate aspernatur aliquam iure. Possimus reprehenderit magni nisi ex.
                                        </div>
                                    </div>
                                </div>
                        </div>
                </div>
                <div class="col-md-6">
                        <div class="panel-group">
                                <div class="panel">
                                    <div class="panel-heading">
                                        <h1 class="panel-title"data-toggle="collapse" href="#panel-6">
                                         Questinon six
                                        </h1>
                                    </div>
                                    <div id="panel-6" class="panel-collapse collapse">
                                        <div class="panel-body">
                                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur eos culpa voluptatibus optio minus iste? Odio iusto quis quos ducimus impedit cupiditate aspernatur aliquam iure. Possimus reprehenderit magni nisi ex.
                                        </div>
                                    </div>
                                </div>
                        </div>
                </div>

            </div>

    </div>

</div>
